.input {
    border-radius: 15px;
    padding: 15px 10px;
    border: none;
    width: 85%;
}

.form {
    margin-top: 35px;
    width: 60%;
    display: flex;
}

.button {
    box-sizing: border-box;
    margin-left: 10px;
    width: 15%;
    border-radius: 15px;
    cursor: pointer;
    background-color: #2e3136;
    border: none;
    transition: all ease-in 0.2s;
}

.button:hover {
    background-color: #7b7b7b;
    border: 1px solid #2e3136;
}