.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.popupContent {
    padding: 30px;
    background-color: #b6b6b6;
    border-radius: 16px;
    min-width: 350px;
}

.popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
}

.input {
    width: 100%;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 5px;
    border: none;
}

.input:focus {
    outline: none;
}

.button {
    cursor: pointer;
    background-color: #2e3136;
    border: none;
    transition: all ease-in 0.2s;
    color: #9a9898;
    border-radius: 5px;
}

.button:hover {
    background-color: #7b7b7b;
}